body
{
	font-family: "Helvetica", "Sans-serif";
	background-color: #121212;
	font-size: 1.1em;
}

h1
{
	font-family: "Tahoma", "Helvetica", "Sans-serif";
	text-align: center;
	color: #3B52FF;
	font-size: 4em;
	margin: 30px;
}

h2
{
	color: #A9B1E8;
	font-size: 2em;
	clear: both;
}

h3
{
	color: #A9B1E8;
	font-size: 1.3em;
	font-style: italic;
}

h4
{
	margin: 5px;
	font-size: 1.2em;
}

a
{
	color: #93DDED;
}

body
{
	background-image: url(background.png);
    background-position: -597px -639px;
    background-repeat: no-repeat;
    background-size: 2362px;
}

.textBlock
{
	background-color: #424242;
	margin: 10px;
	padding: 10px;
}

#teamContainer{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

.teamBlock
{
	width: 316px;
}

#mainArea
{
	margin: 100px;
	padding: 30px;
	background-color: hsla(0, 0%, 100%, 0.1);
	color: #E6E6E6;
}